/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Montserrat:wght@300;400;500&family=Noto+Sans+JP:wght@100&display=swap');

/* General */
*{
	margin: 0;
	font-family: 'Commissioner';
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	box-sizing: border-box;
	text-decoration: none;
}

body{ overflow-x: hidden }

h1{
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

.mark, .mark-2{
	color: #673AB7;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
}

.mark-2{ font-style: italic; }

/* Tooltips */
[data-tooltip-dn], [data-tooltip-up]{ display: relative; }
[data-tooltip-dn] .tooltip, [data-tooltip-up] .tooltip{
	display: block;
	position: absolute;
	left: 50%;
	bottom: -25px;
	padding: 5px 8px;
	color: #333;
	background-color: #eee;
	border-radius: 4px;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	transform: translateX(-50%);
	transition: opacity 0.2s, transform 0.2s;
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.45);
	pointer-events: none;
	opacity: 0;
}
[data-tooltip-up] .tooltip{
	top: -25px;
	bottom: auto;
}
[data-tooltip-dn] .tooltip::before, [data-tooltip-up] .tooltip::after{
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #eee;
	transform: translateX(-50%);
}
[data-tooltip-up] .tooltip::after{
	top: auto;
	bottom: -10px;
	border-bottom-color: transparent;
	border-top-color: #eee;
}

[data-tooltip-dn]:hover .tooltip{
	transform: translate(-50%, 8px);
	opacity: 1;
}

[data-tooltip-up]:hover .tooltip{
	transform: translate(-50%, -8px);
	opacity: 1;
}


/* Landing section */

.landing-sec{
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #eee;
	overflow: hidden;
}

.landing-sec .bg{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.landing-sec::after{
	content: '\232a';
	position: absolute;
	left: 50%;
	bottom: 50px;
	font-family: 'Noto Sans JP';
	font-size: 30px;
	transform: translateX(-50%) rotate(90deg);
	animation: arrow-down 2s infinite;
}

@keyframes arrow-down{
	0%{ opacity: 0; bottom: 60px }
	30%{ opacity: 1; bottom: 50px }
	100%{ opacity: 1; bottom: 50px }
}

/* Name Banner */

.landing-sec .content{
	display: inline-block;
	position: relative;
	top: -5%;
	left: -100%;
}

.landing-sec .title{
	display: inline-block;
	padding: 20px 80px 30px 120px;
	line-height: 1.25;
	border-radius: 0 100px 100px 0;
	background-color: rgb(0,0,0,0.65);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.45);
}

.landing-sec .links{
	display: block;
	position: relative;
	left: 120px;
	width: fit-content;
}

.landing-sec .links .link,
.footer-sec .links .link{
	display: inline-block;
	position: relative;
	width: 35px;
	height: 35px;
	margin: 40px 20px;
	padding: 5px;
	color: #eee;
	background-color: #333;
	border-radius: 100%;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.45);
}

.landing-sec .links .link i, 
.footer-sec .links .link i{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.landing-sec .links .link::before{
	content: '';
	display: block;
	position: absolute;
	top: -40px;
	left: 50%;
	width: 2px;
	height: 40px;
	transform: translateX(-50%);
	background-color: #333;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.45);
	pointer-events: none;
}

/* Avatar */
.landing-sec .avatar{
	display: block;
	position: relative;
	top: -5%;
	right: 0;
	height: 350px;
	margin: 0 auto;
	transform: translateX(20%);
	opacity: 0;
}

.landing-sec .avatar img{
	height: 100%;
}

.landing-sec .avatar aside{
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: -20px;
	font-style: italic;
	transform: translateX(-50%);
}

.landing-sec .avatar .msg{
	display: block;
	position: absolute;
	top: calc(45% + 5px);
	padding: 10px 35px;
	font-family: 'Commissioner';
	font-size: 18px;
	line-height: 1.2;
	color: #333;
	background-color: #eee;
	border-radius: 50px;
	opacity: 0;
	transition: opacity 0.3s;
	text-align: end;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.45);
}

.landing-sec .avatar .msg span{
	font-family: inherit;
	font-size: inherit;
}

.landing-sec .avatar .msg::after{
	content: '';
	position: absolute;
	top: -19px;
	right: 20px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #eee;
}

/* About section */
.about-sec{
	padding: 100px 15%;
}

.about-sec h1, .projects-sec h1{
	margin: 0 0 5% 0;
	font-family: 'Commissioner';
}

.about-sec p{
	font-family: 'Montserrat';
	font-size: 17px;
	font-weight: 300;
	line-height: 1.8;
	word-spacing: 1;
	text-align: justify;
}

/* Projects section */
.projects-sec{
	padding: 100px 15%;
	background-color: #e5f0f5;
}

.projects{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.project{
	margin: 30px 0;
	padding-bottom: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
	overflow: hidden;
}

.project .image{
	position: relative;
	width: 250px;
	height: calc(250px * 3/4);
	overflow: hidden;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.project .image img{
	display: block;
	position: absolute;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	transition: transform 0.5s;
	
}

.project .image:hover img{
	transform: translateX(-50%) scale(1.1);
}

.project h2, h3{
	padding: 20px 20px 0 20px;
	font-family: 'Montserrat';
}

.project .name{
	font-weight: bold;
}

.project .notes, .project .year{
	font-size: 14px;
	color: #777;
	line-height: 1.4;
}

.project .year{
	color: green;
	text-align: center;
	font-weight: 200;
}

/* Footer section */
.footer-sec{
	padding: 80px 15%;
	font-family: 'Commissioner';
	font-size: 18px;
	font-weight: 200;
	color: #bbb;
	background-color: #0d2c73;
}

.footer-sec p{
	line-height: 1.5;
	text-align: center;
	font-style: italic;
}

.footer-sec h2{
	margin: 40px 0 0 0;
	text-align: center;
	font-size: 24px;
	font-style: normal;
}

.footer-sec .links{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-sec .links .link{
	margin: 20px 5px;
	background-color: transparent;
	box-shadow: none;
	font-size: 18px;
}

/* Responsiveness */
@media screen and (max-width: 900px){

	.landing-sec .avatar{
		margin: 0 10% 0 0;
	}

	.landing-sec .title{
		padding-left: 50px;
	}

	.landing-sec .links{
		left: 5%;
	}

	.landing-sec .links .link{
		margin: 40px 15px
	}

}

@media screen and (max-width: 760px){

	.landing-sec .avatar{
		display: none;
	}

	.landing-sec .content{
		width: 100%;
	}

	.landing-sec .title{
		display: block;
		width: 100%;
		padding: 20px 0 30px 0;
		border-radius: 0;
	}

	.landing-sec .links{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

}